@font-face {
  font-family: Panettone;
  src: url(assets/Panettone.otf);
}
@font-face {
  font-family: Barcadbold;
  src: url(assets/barcadbold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

@keyframes appears {
	0% {
		transform: opacity(0, .025);
	}
	50% {
		transform: opacity(1, .025);
	}
}

.full-pagecointainer {
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	overflow: hidden;
}

html {
	height: 100%;
}

body {
	overflow: auto;
	margin: 0;
	height: 100%;
    margin: 0;
    padding: 0;
}
.pagecontainer {
	min-width: 100vw;
	height: 100%;
}

.getintouch {
	background-color: grey;

}

.technology-container {
	background: rgb(123,87,161);
	background: radial-gradient(circle, rgba(123,87,161,1) 54%, rgba(95,46,145,1) 100%);
	top: 0;
	left: 0;
	overflow: hidden;
	width: 75vw;
	height: 100%;
	margin: 0px;
}

.other {
	min-width: 10wv;
}

.metainfo {
	background: rgb(0,0,64);
	background: linear-gradient(27deg, rgba(0,0,64,1) 0%, rgba(6,36,107,1) 50%, rgba(0,0,64,1) 100%);
	width: 10wv;
}

.end {
	background-color: darkgreen;
	width: 500px;
}


.profile-area {
	width: 50%;
	height: 80%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	display: flex;
	flex-flow: column nowrap;
	align-content: space-around;
	align-items: center;
}

.profile-font {
	color: #ffcaca;
	font-family: 'Amiri', serif;
}

.profile-header {
	padding-top: 2rem;
	text-align: center;
	font-size: 2.8rem;
}

.profile-occupation {
	color: #19e826;
	display: flex;
	flex-flow: row wrap;
}

.typed-cursor {
	font-size: 1rem;
	color: #0e130e;
}

.profile-picture {
	width: 36%;
	border-radius: 50%;
	margin-left: ;
}

.social-container {
	overflow: visible;

	padding-top: 3rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.social-icon {
	cursor: pointer;
	overflow: visible;
	height: 3rem;
	margin: 1rem;
	padding: 0.8rem;
	opacity: 0.65;
	transition: all 0.5s ease;
}

.social-icon:hover {
	opacity: 1;
	height: 4.2rem;
}

.background-slide {
	width: 50vw;
	background: transparent;
	display: flex;
	flex-flow: row nowrap;
}

.technology-header {
	text-align: center;
	font-family: 'Amiri', serif;
	font-size: 2.5rem;
	color: white;
}

.technology-container {
}

.stack-table {
	table-layout: fixed;
	width: 100%;
	height: 85%;
	padding: 1.3rem;
}

.technology-img {
	height: 5rem;
	transition: all 0.3s ease;
}

.item-row {
	height: 33%;
}

.stack-item {
	overflow: hidden;
	opacity: 0;
	transition: all 1s ease;
	transition-delay:  0.5s;
}

.stack-item.animate{
	opacity: 1;

}

.stack-item:hover .technology-img{
	height: 6.2rem;

}

.stack-item:hover .stack-subtitle{
	opacity: 1;
}

.stack-subtitle {
	font-size: 0.8rem;
	color: black;
	opacity: 0.7;
	transition: all 0.3s ease;
}



.stack-item .appear {
	animation: appears 1s 1;
}


.getintouch {
	width: 10%;
	z-index: 2;
}

.getintouch-heading {
	font-size: 3rem;
	height: 100%;
	margin-top: 25%;
	text-align: center;
	color: white;
	font-family: "Source Code Pro" 'monospace;';
	font-weight: 600;
}