.parallax-mirror {
	visibility: visible;
	z-index: -100;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transform: translate3d(0px, 0px, 0px);
	height: 100%;
	width: 100%;
}

.parallax-container {
	background: transparent;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 25vw;
	height: 100%;
	margin: 0px;
}

img.parallax-img {
	object-fit: cover;
	filter: blur(3px);
	width:  100%;
	height: 100%;
}